h1, h2, h3, h4, h5, h6 {
  clear: both;
}

.single, .page {
  .entry-title {
    @include font-size(3.25);
  }
}

.entry-title {
  line-height: 1.25;
}

.archive .page-header {
  background-color: gold;
  padding-left: 1em;
  .page-title {
    margin-top: 0;
  }
}