.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.home .hentry {
  width: 98%;
  height: 350px;
  margin: 1% 0 0 1%;
  float: left;
  overflow: hidden;
}

.single, .page, .archive  {
  #content {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
  }
  .hentry {
    font-size: 1.25em;  
  }
}

.byline,
.updated:not(.published){
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}